@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="w-100 m-auto form-container">
    <form>
        <div class="form-floating mt-6">
            <input type="email" class="form-control" id="floatingInput" placeholder="seu-email@gmail.com"/>
            <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating mt-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="password"/>
            <label for="floatingInput">Senha</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Entrar</button>
    </form>
</main>


